<div data-layer="Pop-up Delete Kunjungan" class="PopUpDeleteKunjungan w-[789px] h-[464px] relative bg-stone-100 rounded-[58px] overflow-hidden">
    <div data-layer="Apakah kamu yakin untuk menghapus KUNJUNGAN dengan ID KJN001?" class="ApakahKamuYakinUntukMenghapusKunjunganDenganIdKjn001 w-[685px] left-[52px] top-[256px] absolute justify-center"><span class="text-black text-2xl font-medium font-['Poppins'] leading-loose">Apakah kamu yakin untuk menghapus KUNJUNGAN dengan ID </span><span class="text-red-600 text-2xl font-medium font-['Poppins'] leading-loose">KJN001</span><span class="text-black text-2xl font-medium font-['Poppins'] leading-loose">?</span></div>
    <div data-layer="Button" class="Button w-52 h-11 px-10 py-4 left-[527px] top-[392px] absolute bg-red-600 rounded-[20px] outline outline-1 outline-offset-[-1px] outline-slate-500 inline-flex justify-center items-center gap-2">
      <div data-layer="Confirm Deletion" class="ConfirmDeletion text-center justify-start text-slate-50 text-xl font-medium font-['Poppins'] leading-7">Confirm Deletion</div>
    </div>
    <div data-layer="Button" class="Button w-32 h-11 px-10 py-4 left-[388px] top-[392px] absolute bg-orange-50 rounded-[20px] outline outline-1 outline-offset-[-1px] outline-slate-500 inline-flex justify-center items-center gap-2">
      <div data-layer="Cancel" class="Cancel text-center justify-start text-slate-400 text-xl font-medium font-['Poppins'] leading-7">Cancel</div>
    </div>
    <div data-layer="Delete Treatment" class="DeleteTreatment w-[609px] h-20 left-[95px] top-[107px] absolute text-center justify-center text-zinc-900 text-5xl font-bold font-['Poppins'] leading-[48px]">Delete Treatment</div>
    <img data-layer="paw_pattern_blue_547792-removebg-preview 1" class="PawPatternBlue547792RemovebgPreview1 w-[1208px] h-[1192px] left-[-204px] top-0 absolute opacity-10 shadow-[0px_4px_4px_0px_rgba(0,0,0,0.25)] border border-black" src="https://placehold.co/1208x1192" />
    <div data-layer="li:x-circle" class="LiXCircle w-12 h-12 left-[713px] top-[28px] absolute">
      <div data-layer="li:x-circle" class="LiXCircle w-12 h-12 left-0 top-0 absolute overflow-hidden">
        <div data-layer="Vector" class="Vector w-12 h-12 left-[2.17px] top-[2.17px] absolute bg-black"></div>
        <div data-layer="Vector" class="Vector w-4 h-4 left-[17.33px] top-[17.33px] absolute bg-black"></div>
        <div data-layer="Vector" class="Vector w-4 h-4 left-[17.33px] top-[17.33px] absolute bg-black"></div>
      </div>
    </div>
  </div>