<div data-layer="Update Treatment" class="UpdateTreatment w-[789px] h-[1059px] relative bg-stone-100 rounded-[58px] overflow-hidden">
    <div data-layer="Frame 1000006844" class="Frame1000006844 w-[685px] h-20 left-[53px] top-[616px] absolute">
      <div data-layer="Catatan Medis" class="CatatanMedis w-[685px] left-0 top-0 absolute justify-center text-black text-2xl font-medium font-['Poppins'] leading-loose">Catatan Medis</div>
      <div data-layer="Rectangle 1" class="Rectangle1 w-[685px] h-11 left-0 top-[32px] absolute bg-zinc-300 rounded-lg"></div>
      <div data-layer="Hewan nya dijaga terus ya!" class="HewanNyaDijagaTerusYa w-[661px] left-[12px] top-[38px] absolute justify-center text-black text-2xl font-medium font-['Poppins'] leading-loose">Hewan nya dijaga terus ya!</div>
    </div>
    <div data-layer="Update Treatment" class="UpdateTreatment w-[609px] h-20 left-[95px] top-[107px] absolute text-center justify-center text-zinc-900 text-5xl font-bold font-['Poppins'] leading-[48px]">Update Treatment</div>
    <img data-layer="paw_pattern_blue_547792-removebg-preview 1" class="PawPatternBlue547792RemovebgPreview1 w-[1208px] h-[1480px] left-[-204px] top-0 absolute opacity-10 shadow-[0px_4px_4px_0px_rgba(0,0,0,0.25)] border border-black" src="https://placehold.co/1208x1480" />
    <div data-layer="li:x-circle" class="LiXCircle w-12 h-12 left-[713px] top-[28px] absolute">
      <div data-layer="li:x-circle" class="LiXCircle w-12 h-12 left-0 top-0 absolute overflow-hidden">
        <div data-layer="Vector" class="Vector w-12 h-12 left-[2.17px] top-[2.17px] absolute bg-black"></div>
        <div data-layer="Vector" class="Vector w-4 h-4 left-[17.33px] top-[17.33px] absolute bg-black"></div>
        <div data-layer="Vector" class="Vector w-4 h-4 left-[17.33px] top-[17.33px] absolute bg-black"></div>
      </div>
    </div>
    <div data-layer="Frame 1000006843" class="Frame1000006843 w-[685px] h-20 left-[52px] top-[272px] absolute">
      <div data-layer="Kunjungan" class="Kunjungan w-[685px] left-0 top-0 absolute justify-center text-black text-2xl font-medium font-['Poppins'] leading-loose">Kunjungan</div>
      <div data-layer="Rectangle 1" class="Rectangle1 w-[685px] h-11 left-0 top-[32px] absolute bg-zinc-400 rounded-lg"></div>
      <div data-layer="KJN001" class="Kjn001 w-[661px] left-[13px] top-[38px] absolute justify-center text-black text-2xl font-medium font-['Poppins'] leading-loose">KJN001</div>
    </div>
    <div data-layer="Frame 1000006843" class="Frame1000006843 w-[685px] h-20 left-[52px] top-[374px] absolute">
      <div data-layer="Jenis Perawatan" class="JenisPerawatan w-[685px] left-0 top-0 absolute justify-center text-black text-2xl font-medium font-['Poppins'] leading-loose">Jenis Perawatan</div>
      <div data-layer="Rectangle 1" class="Rectangle1 w-[685px] h-11 left-0 top-[32px] absolute bg-zinc-300 rounded-lg"></div>
      <div data-layer="Jenis Perawatan" class="JenisPerawatan w-[661px] left-[13px] top-[38px] absolute justify-center text-black text-2xl font-medium font-['Poppins'] leading-loose">Jenis Perawatan</div>
      <div data-layer="lucide/chevron-down" class="LucideChevronDown w-6 h-6 left-[649px] top-[42px] absolute overflow-hidden">
        <div data-layer="Vector" class="Vector w-3 h-1.5 left-[6.50px] top-[9px] absolute outline outline-2 outline-offset-[-1px] outline-black"></div>
      </div>
    </div>
    <div data-layer="Rectangle 2" class="Rectangle2 w-[685px] h-32 left-[52px] top-[458px] absolute bg-zinc-300 rounded-lg"></div>
    <div data-layer="Rectangle 2" class="Rectangle2 w-[685px] h-11 left-[53px] top-[458px] absolute bg-zinc-400 rounded-lg"></div>
    <div data-layer="TRM001 - Dental Care" class="Trm001DentalCare w-[661px] left-[65px] top-[463px] absolute justify-center text-black text-2xl font-medium font-['Poppins'] leading-loose">TRM001 - Dental Care</div>
    <div data-layer="TRM002 - Parasite Control" class="Trm002ParasiteControl w-[661px] left-[65px] top-[507px] absolute justify-center text-black text-2xl font-medium font-['Poppins'] leading-loose">TRM002 - Parasite Control</div>
    <div data-layer="TRM003 - Flea Treatment" class="Trm003FleaTreatment w-[661px] left-[65px] top-[550px] absolute justify-center text-black text-2xl font-medium font-['Poppins'] leading-loose">TRM003 - Flea Treatment</div>
    <div data-layer="Line 1" class="Line1 w-[685px] h-0 left-[53px] top-[501px] absolute opacity-20 outline outline-1 outline-offset-[-0.50px] outline-black"></div>
    <div data-layer="Line 2" class="Line2 w-[685px] h-0 left-[52px] top-[544px] absolute opacity-20 outline outline-1 outline-offset-[-0.50px] outline-black"></div>
    <div data-layer="Button" class="Button w-32 h-11 px-10 py-4 left-[613px] top-[987px] absolute bg-slate-400 rounded-[20px] outline outline-1 outline-offset-[-1px] outline-slate-500 inline-flex justify-center items-center gap-2">
      <div data-layer="Update" class="Update text-center justify-start text-slate-50 text-xl font-medium font-['Poppins'] leading-7">Update</div>
    </div>
    <div data-layer="Button" class="Button w-32 h-11 px-10 py-4 left-[472px] top-[987px] absolute bg-orange-50 rounded-[20px] outline outline-1 outline-offset-[-1px] outline-slate-500 inline-flex justify-center items-center gap-2">
      <div data-layer="Cancel" class="Cancel text-center justify-start text-slate-400 text-xl font-medium font-['Poppins'] leading-7">Cancel</div>
    </div>
  </div>