<div data-layer="Update Kunjungan" class="UpdateKunjungan w-[789px] h-[1480px] relative bg-stone-100 rounded-[58px] overflow-hidden">
    <div data-layer="Frame 1000006845" class="Frame1000006845 w-[685px] h-20 left-[53px] top-[997px] absolute">
      <div data-layer="Waktu Mulai Penanganan" class="WaktuMulaiPenanganan w-[685px] left-0 top-0 absolute justify-center text-black text-2xl font-medium font-['Poppins'] leading-loose">Waktu Mulai Penanganan</div>
      <div data-layer="Rectangle 1" class="Rectangle1 w-[685px] h-11 left-0 top-[32px] absolute bg-zinc-300 rounded-lg"></div>
      <div data-layer="li:calendar-days" class="LiCalendarDays w-6 h-6 left-[649px] top-[42px] absolute">
        <div data-layer="li:calendar-days" class="LiCalendarDays w-6 h-6 left-0 top-0 absolute overflow-hidden">
          <div data-layer="Vector" class="Vector w-5 h-5 left-[2px] top-[3px] absolute bg-black"></div>
          <div data-layer="Vector" class="Vector w-0.5 h-1.5 left-[15px] top-[1px] absolute bg-black"></div>
          <div data-layer="Vector" class="Vector w-0.5 h-1.5 left-[7px] top-[1px] absolute bg-black"></div>
          <div data-layer="Vector" class="Vector w-5 h-0.5 left-[2px] top-[9px] absolute bg-black"></div>
          <div data-layer="Vector" class="Vector w-0.5 h-0.5 left-[7px] top-[13px] absolute bg-black"></div>
          <div data-layer="Vector" class="Vector w-0.5 h-0.5 left-[11px] top-[13px] absolute bg-black"></div>
          <div data-layer="Vector" class="Vector w-0.5 h-0.5 left-[15px] top-[13px] absolute bg-black"></div>
          <div data-layer="Vector" class="Vector w-0.5 h-0.5 left-[7px] top-[17px] absolute bg-black"></div>
          <div data-layer="Vector" class="Vector w-0.5 h-0.5 left-[11px] top-[17px] absolute bg-black"></div>
          <div data-layer="Vector" class="Vector w-0.5 h-0.5 left-[15px] top-[17px] absolute bg-black"></div>
        </div>
      </div>
    </div>
    <div data-layer="Frame 1000006846" class="Frame1000006846 w-[685px] h-20 left-[53px] top-[1089px] absolute">
      <div data-layer="Waktu Selesai Penanganan" class="WaktuSelesaiPenanganan w-[685px] left-0 top-0 absolute justify-center text-black text-2xl font-medium font-['Poppins'] leading-loose">Waktu Selesai Penanganan</div>
      <div data-layer="Rectangle 1" class="Rectangle1 w-[685px] h-11 left-0 top-[32px] absolute bg-zinc-300 rounded-lg"></div>
      <div data-layer="li:calendar-days" class="LiCalendarDays w-6 h-6 left-[649px] top-[42px] absolute">
        <div data-layer="li:calendar-days" class="LiCalendarDays w-6 h-6 left-0 top-0 absolute overflow-hidden">
          <div data-layer="Vector" class="Vector w-5 h-5 left-[2px] top-[3px] absolute bg-black"></div>
          <div data-layer="Vector" class="Vector w-0.5 h-1.5 left-[15px] top-[1px] absolute bg-black"></div>
          <div data-layer="Vector" class="Vector w-0.5 h-1.5 left-[7px] top-[1px] absolute bg-black"></div>
          <div data-layer="Vector" class="Vector w-5 h-0.5 left-[2px] top-[9px] absolute bg-black"></div>
          <div data-layer="Vector" class="Vector w-0.5 h-0.5 left-[7px] top-[13px] absolute bg-black"></div>
          <div data-layer="Vector" class="Vector w-0.5 h-0.5 left-[11px] top-[13px] absolute bg-black"></div>
          <div data-layer="Vector" class="Vector w-0.5 h-0.5 left-[15px] top-[13px] absolute bg-black"></div>
          <div data-layer="Vector" class="Vector w-0.5 h-0.5 left-[7px] top-[17px] absolute bg-black"></div>
          <div data-layer="Vector" class="Vector w-0.5 h-0.5 left-[11px] top-[17px] absolute bg-black"></div>
          <div data-layer="Vector" class="Vector w-0.5 h-0.5 left-[15px] top-[17px] absolute bg-black"></div>
        </div>
      </div>
    </div>
    <div data-layer="Update Kunjungan (KJN001)" class="UpdateKunjunganKjn001 w-[789px] h-20 left-0 top-[107px] absolute text-center justify-center text-zinc-900 text-5xl font-bold font-['Poppins'] leading-[48px]">Update Kunjungan (KJN001)</div>
    <img data-layer="paw_pattern_blue_547792-removebg-preview 1" class="PawPatternBlue547792RemovebgPreview1 w-[1208px] h-[1480px] left-[-204px] top-0 absolute opacity-10 shadow-[0px_4px_4px_0px_rgba(0,0,0,0.25)] border border-black" src="https://placehold.co/1208x1480" />
    <div data-layer="li:x-circle" class="LiXCircle w-12 h-12 left-[713px] top-[28px] absolute">
      <div data-layer="li:x-circle" class="LiXCircle w-12 h-12 left-0 top-0 absolute overflow-hidden">
        <div data-layer="Vector" class="Vector w-12 h-12 left-[2.17px] top-[2.17px] absolute bg-black"></div>
        <div data-layer="Vector" class="Vector w-4 h-4 left-[17.33px] top-[17.33px] absolute bg-black"></div>
        <div data-layer="Vector" class="Vector w-4 h-4 left-[17.33px] top-[17.33px] absolute bg-black"></div>
      </div>
    </div>
    <div data-layer="Frame 1000006843" class="Frame1000006843 w-[685px] h-20 left-[52px] top-[272px] absolute">
      <div data-layer="ID Klien" class="IdKlien w-[685px] left-0 top-0 absolute justify-center text-black text-2xl font-medium font-['Poppins'] leading-loose">ID Klien</div>
      <div data-layer="Rectangle 1" class="Rectangle1 w-[685px] h-11 left-0 top-[32px] absolute bg-zinc-300 rounded-lg"></div>
      <div data-layer="FDO123" class="Fdo123 w-[661px] left-[13px] top-[38px] absolute justify-center text-black text-2xl font-medium font-['Poppins'] leading-loose">FDO123</div>
      <div data-layer="lucide/chevron-down" class="LucideChevronDown w-6 h-6 left-[649px] top-[42px] absolute overflow-hidden">
        <div data-layer="Vector" class="Vector w-3 h-1.5 left-[6.50px] top-[9px] absolute outline outline-2 outline-offset-[-1px] outline-black"></div>
      </div>
    </div>
    <div data-layer="Rectangle 2" class="Rectangle2 w-[685px] h-32 left-[52px] top-[356px] absolute bg-zinc-300 rounded-lg"></div>
    <div data-layer="FDO123" class="Fdo123 w-[661px] left-[65px] top-[361px] absolute justify-center text-black text-2xl font-medium font-['Poppins'] leading-loose">FDO123</div>
    <div data-layer="KII123" class="Kii123 w-[661px] left-[65px] top-[405px] absolute justify-center text-black text-2xl font-medium font-['Poppins'] leading-loose">KII123</div>
    <div data-layer="PKE123" class="Pke123 w-[661px] left-[65px] top-[448px] absolute justify-center text-black text-2xl font-medium font-['Poppins'] leading-loose">PKE123</div>
    <div data-layer="Line 1" class="Line1 w-[685px] h-0 left-[53px] top-[399px] absolute opacity-20 outline outline-1 outline-offset-[-0.50px] outline-black"></div>
    <div data-layer="Line 2" class="Line2 w-[685px] h-0 left-[52px] top-[442px] absolute opacity-20 outline outline-1 outline-offset-[-0.50px] outline-black"></div>
    <div data-layer="Rectangle 4" class="Rectangle4 w-[671px] h-9 left-[55px] top-[359px] absolute opacity-50 bg-cyan-700"></div>
    <div data-layer="Frame 1000006843" class="Frame1000006843 w-[685px] h-20 left-[52px] top-[514px] absolute">
      <div data-layer="Nama Hewan" class="NamaHewan w-[685px] left-0 top-0 absolute justify-center text-black text-2xl font-medium font-['Poppins'] leading-loose">Nama Hewan</div>
      <div data-layer="Rectangle 1" class="Rectangle1 w-[685px] h-11 left-0 top-[32px] absolute bg-zinc-300 rounded-lg"></div>
      <div data-layer="Snowy" class="Snowy w-[661px] left-[13px] top-[38px] absolute justify-center text-black text-2xl font-medium font-['Poppins'] leading-loose">Snowy</div>
      <div data-layer="lucide/chevron-down" class="LucideChevronDown w-6 h-6 left-[649px] top-[42px] absolute overflow-hidden">
        <div data-layer="Vector" class="Vector w-3 h-1.5 left-[6.50px] top-[9px] absolute outline outline-2 outline-offset-[-1px] outline-black"></div>
      </div>
    </div>
    <div data-layer="Rectangle 2" class="Rectangle2 w-[685px] h-32 left-[52px] top-[598px] absolute bg-zinc-300 rounded-lg"></div>
    <div data-layer="Snowy" class="Snowy w-[661px] left-[65px] top-[603px] absolute justify-center text-black text-2xl font-medium font-['Poppins'] leading-loose">Snowy</div>
    <div data-layer="Blacky" class="Blacky w-[661px] left-[65px] top-[647px] absolute justify-center text-black text-2xl font-medium font-['Poppins'] leading-loose">Blacky</div>
    <div data-layer="Hamseug" class="Hamseug w-[661px] left-[65px] top-[690px] absolute justify-center text-black text-2xl font-medium font-['Poppins'] leading-loose">Hamseug</div>
    <div data-layer="Line 1" class="Line1 w-[685px] h-0 left-[53px] top-[641px] absolute opacity-20 outline outline-1 outline-offset-[-0.50px] outline-black"></div>
    <div data-layer="Line 2" class="Line2 w-[685px] h-0 left-[52px] top-[684px] absolute opacity-20 outline outline-1 outline-offset-[-0.50px] outline-black"></div>
    <div data-layer="Rectangle 4" class="Rectangle4 w-[670px] h-9 left-[55px] top-[602px] absolute opacity-50 bg-cyan-700"></div>
    <div data-layer="Button" class="Button w-32 h-11 px-10 py-4 left-[613px] top-[1368px] absolute bg-slate-400 rounded-[20px] outline outline-1 outline-offset-[-1px] outline-slate-500 inline-flex justify-center items-center gap-2">
      <div data-layer="Update" class="Update text-center justify-start text-slate-50 text-xl font-medium font-['Poppins'] leading-7">Update</div>
    </div>
    <div data-layer="Button" class="Button w-32 h-11 px-10 py-4 left-[472px] top-[1368px] absolute bg-orange-50 rounded-[20px] outline outline-1 outline-offset-[-1px] outline-slate-500 inline-flex justify-center items-center gap-2">
      <div data-layer="Cancel" class="Cancel text-center justify-start text-slate-400 text-xl font-medium font-['Poppins'] leading-7">Cancel</div>
    </div>
    <div data-layer="Frame 1000006843" class="Frame1000006843 w-[685px] h-20 left-[52px] top-[756px] absolute">
      <div data-layer="Metode Kunjungan" class="MetodeKunjungan w-[685px] left-0 top-0 absolute justify-center text-black text-2xl font-medium font-['Poppins'] leading-loose">Metode Kunjungan</div>
      <div data-layer="Rectangle 1" class="Rectangle1 w-[685px] h-11 left-0 top-[32px] absolute bg-zinc-300 rounded-lg"></div>
      <div data-layer="Janji Temu" class="JanjiTemu w-[661px] left-[13px] top-[38px] absolute justify-center text-black text-2xl font-medium font-['Poppins'] leading-loose">Janji Temu</div>
      <div data-layer="lucide/chevron-down" class="LucideChevronDown w-6 h-6 left-[649px] top-[42px] absolute overflow-hidden">
        <div data-layer="Vector" class="Vector w-3 h-1.5 left-[6.50px] top-[9px] absolute outline outline-2 outline-offset-[-1px] outline-black"></div>
      </div>
    </div>
    <div data-layer="Rectangle 2" class="Rectangle2 w-[685px] h-32 left-[52px] top-[840px] absolute bg-zinc-300 rounded-lg"></div>
    <div data-layer="Janji Temu" class="JanjiTemu w-[661px] left-[65px] top-[845px] absolute justify-center text-black text-2xl font-medium font-['Poppins'] leading-loose">Janji Temu</div>
    <div data-layer="03-04-2025 14:30:16" class="042025143016 w-[661px] left-[65px] top-[1035px] absolute justify-center text-black text-2xl font-medium font-['Poppins'] leading-loose">03-04-2025 14:30:16</div>
    <div data-layer="03-04-2025 14:30:16" class="042025143016 w-[661px] left-[65px] top-[1127px] absolute justify-center text-black text-2xl font-medium font-['Poppins'] leading-loose">03-04-2025 14:30:16</div>
    <div data-layer="Walk-In" class="WalkIn w-[661px] left-[65px] top-[889px] absolute justify-center text-black text-2xl font-medium font-['Poppins'] leading-loose">Walk-In</div>
    <div data-layer="Darurat" class="Darurat w-[661px] left-[65px] top-[932px] absolute justify-center text-black text-2xl font-medium font-['Poppins'] leading-loose">Darurat</div>
    <div data-layer="Line 1" class="Line1 w-[685px] h-0 left-[53px] top-[883px] absolute opacity-20 outline outline-1 outline-offset-[-0.50px] outline-black"></div>
    <div data-layer="Line 2" class="Line2 w-[685px] h-0 left-[52px] top-[926px] absolute opacity-20 outline outline-1 outline-offset-[-0.50px] outline-black"></div>
    <div data-layer="Rectangle 4" class="Rectangle4 w-[670px] h-9 left-[55px] top-[845px] absolute opacity-50 bg-cyan-700"></div>
  </div>