{% load static %}
<nav class="bg-blue1 text-white sticky top-0 z-50 shadow-md">
  <div class="container mx-auto px-6 py-4 flex items-center justify-between">
    <!-- Logo & Title -->
    <a href="{% url 'main:landing_page' %}" class="flex items-center gap-2">
      <img src="{% static 'images/Logo_Basdat_03.svg' %}" alt="Logo" class="w-8 h-8"/>
      <span class="text-xl font-semibold">Pet Clinic – 03</span>
    </a>

    <!-- Desktop Menu -->
    <div class="hidden lg:flex space-x-6 items-center">
      {% if request.session.user_email %}
        {% if request.session.role == 'individu' or request.session.role == 'perusahaan' %}
          <a href="{% url 'main:dashboard_klien' %}" class="hover:text-gray-300">Dashboard</a>
          <a href="{% url 'hewan:HewanPeliharaan_list' %}" class="hover:text-gray-300">Kelola Hewan Peliharaan</a>
          <a href="{% url 'hijau:table_kunjungan' %}" class="hover:text-gray-300">Daftar Kunjungan</a>
          <a href="{% url 'vaccinations:vaccination_list' %}" class="hover:text-gray-300">Daftar Vaksinasi</a>
          <a href="{% url 'biru:list_medicine' %}" class="hover:text-gray-300">Manajemen Obat</a>
          <a href="{% url 'biru:list_treatment_type' %}" class="hover:text-gray-300">Jenis Perawatan</a>
          <a href="{% url 'biru:list_prescriptions' %}" class="hover:text-gray-300">Pemberian Obat</a>

        {% elif request.session.role == 'frontdesk' %}
          <a href="{% url 'main:dashboard_frontdesk' %}" class="hover:text-gray-300">Dashboard</a>
          <a href="{% url 'jenis:JenisHewan_list' %}" class="hover:text-gray-300">Kelola Jenis Hewan</a>
          <a href="{% url 'hewan:kelola_hewan' %}" class="hover:text-gray-300">Kelola Hewan Peliharaan</a>
          <a href="{% url 'hijau:table_kunjungan' %}" class="hover:text-gray-300">Kelola Kunjungan</a>
          <a href="{% url 'main:klien_list' %}" class="hover:text-gray-300">Daftar Klien</a>
          <a href="{% url 'biru:list_medicine' %}" class="hover:text-gray-300">Manajemen Obat</a>
          <a href="{% url 'biru:list_treatment_type' %}" class="hover:text-gray-300">Jenis Perawatan</a>
          <a href="{% url 'biru:list_prescriptions' %}" class="hover:text-gray-300">Pemberian Obat</a>

        {% elif request.session.role == 'dokter' %}
          <a href="{% url 'main:dashboard_dokterhewan' %}" class="hover:text-gray-300">Dashboard</a>
          <a href="{% url 'jenis:JenisHewan_list' %}" class="hover:text-gray-300">Daftar Jenis Hewan</a>
          <a href="{% url 'hijau:table_treatment' %}" class="hover:text-gray-300">Perawatan Hewan</a>
          <a href="{% url 'hijau:table_kunjungan' %}" class="hover:text-gray-300">Daftar Kunjungan</a>
          <a href="{% url 'biru:list_medicine' %}" class="hover:text-gray-300">Manajemen Obat</a>
          <a href="{% url 'biru:list_treatment_type' %}" class="hover:text-gray-300">Jenis Perawatan</a>
          <a href="{% url 'biru:list_prescriptions' %}" class="hover:text-gray-300">Pemberian Obat</a>
          <a href="#">Vaksinasi Hewan</a>

        {% elif request.session.role == 'perawat' %}
          <a href="{% url 'main:dashboard_perawat' %}" class="hover:text-gray-300">Dashboard</a>
          <a href="{% url 'biru:list_medicine' %}" class="hover:text-gray-300">Manajemen Obat</a>
          <a href="{% url 'biru:list_treatment_type' %}" class="hover:text-gray-300">Jenis Perawatan</a>
          <a href="{% url 'biru:list_prescriptions' %}" class="hover:text-gray-300">Pemberian Obat</a>
          <a href="#">Manajemen Vaksin</a>
        {% endif %}
        <a href="{% url 'authentication:logout' %}" class="hover:text-red-400 font-semibold">Logout</a>
      {% else %}
        <a href="{% url 'authentication:login' %}" class="hover:text-gray4">Login</a>
        <a href="{% url 'authentication:register' %}" class="hover:text-gray4">Register</a>
      {% endif %}
    </div>
  </div>

  <!-- Mobile Menu -->
  <div id="mobileMenu" class="hidden lg:hidden bg-blue1 px-6 py-4 space-y-2">
    {% if request.session.user_email %}
      {% if request.session.role == 'individu' or request.session.role == 'perusahaan' %}
        <a href="{% url 'main:dashboard_klien' %}" class="block text-white">Dashboard</a>
        <a href="{% url 'hewan:HewanPeliharaan_list' %}" class="block text-white">Kelola Hewan</a>
        <a href="{% url 'hijau:table_kunjungan' %}" class="block text-white">Kunjungan</a>
        <a href="{% url 'vaccinations:vaccination_list' %}" class="block text-white">Vaksinasi</a>
        <a href="{% url 'biru:list_medicine' %}" class="hover:text-gray-300">Manajemen Obat</a>
        <a href="{% url 'biru:list_treatment_type' %}" class="hover:text-gray-300">Jenis Perawatan</a>
        <a href="{% url 'biru:list_prescriptions' %}" class="hover:text-gray-300">Pemberian Obat</a>        

      {% elif request.session.role == 'frontdesk' %}
        <a href="{% url 'main:dashboard_frontdesk' %}" class="block text-white">Dashboard</a>
        <a href="{% url 'jenis:JenisHewan_list' %}" class="block text-white">Jenis Hewan</a>
        <a href="{% url 'hewan:HewanPeliharaan_list' %}" class="block text-white">Hewan</a>
        <a href="{% url 'hijau:table_kunjungan' %}" class="block text-white">Kunjungan</a>
        <a href="{% url 'main:klien_list' %}" class="block text-white">Klien</a>
        <a href="{% url 'biru:list_medicine' %}" class="hover:text-gray-300">Manajemen Obat</a>
        <a href="{% url 'biru:list_treatment_type' %}" class="hover:text-gray-300">Jenis Perawatan</a>
        <a href="{% url 'biru:list_prescriptions' %}" class="hover:text-gray-300">Pemberian Obat</a>

      {% elif request.session.role == 'dokter' %}
        <a href="{% url 'main:dashboard_dokterhewan' %}" class="block text-white">Dashboard</a>
        <a href="{% url 'jenis:JenisHewan_list' %}" class="block text-white">Jenis Hewan</a>
        <a href="{% url 'hijau:table_treatment' %}" class="block text-white">Perawatan</a>
        <a href="{% url 'hijau:table_kunjungan' %}" class="block text-white">Kunjungan</a>
        <a href="{% url 'biru:list_medicine' %}" class="hover:text-gray-300">Manajemen Obat</a>
        <a href="{% url 'biru:list_treatment_type' %}" class="hover:text-gray-300">Jenis Perawatan</a>
        <a href="{% url 'biru:list_prescriptions' %}" class="hover:text-gray-300">Pemberian Obat</a>
        <a href="#" class="block text-white">Vaksinasi</a>

      {% elif request.session.role == 'perawat' %}
        <a href="{% url 'main:dashboard_perawat' %}" class="block text-white">Dashboard</a>
        <a href="{% url 'biru:list_medicine' %}" class="hover:text-gray-300">Manajemen Obat</a>
        <a href="{% url 'biru:list_treatment_type' %}" class="hover:text-gray-300">Jenis Perawatan</a>
        <a href="{% url 'biru:list_prescriptions' %}" class="hover:text-gray-300">Pemberian Obat</a>
        <a href="#" class="block text-white">Vaksinasi</a>

      {% endif %}
      <a href="{% url 'authentication:logout' %}" class="block text-red-400 font-semibold">Logout</a>
    {% else %}
      <a href="{% url 'authentication:login' %}" class="block text-white">Login</a>
      <a href="{% url 'authentication:register' %}" class="block text-white">Register</a>
    {% endif %}
  </div>

  <script>
    document.querySelector('[data-toggle="mobileMenu"]')
      .addEventListener('click', () => {
        document.getElementById('mobileMenu').classList.toggle('hidden');
      });
  </script>
</nav>
