<!DOCTYPE html>
<!-- buat commit -->
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Update Treatment</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-800 flex items-center justify-center min-h-screen">

  <form method="POST" class="w-[400px] bg-stone-100 rounded-[40px] p-6 relative shadow-md"
        style="background-image: url('https://placehold.co/1208x1480'); background-size: cover; background-repeat: no-repeat; background-blend-mode: lighten;">
    {% csrf_token %}

    <!-- Tombol close -->
    <a href="{% url 'hijau:table_treatment' %}" class="absolute top-4 right-4 text-black text-2xl font-bold">×</a>

    <!-- Judul -->
    <h1 class="text-2xl font-bold text-center mb-6 text-zinc-900 font-['Poppins']">Update Treatment</h1>

    <!-- Kunjungan -->
    <label class="block mb-1 text-black text-sm font-medium font-['Poppins']">Kunjungan</label>
 <div class="bg-gray-300 rounded-md px-4 py-3 mb-6 text-sm text-gray-800 font-medium space-y-1">
  <p>ID Kunjungan : {{ kunjungan.id_kunjungan }}</p>
  <p>Nama Hewan : {{ kunjungan.nama_hewan }}</p>
  <p>ID Klien : {{ kunjungan.no_identitas_klien }}</p>
  <p>Front Desk : {{ email_frontdesk }}</p>
  <p>Dokter Hewan : {{ email_dokter }}</p>
  <p>Perawat Hewan : {{ email_perawat }}</p>
</div>


    <!-- Jenis Perawatan -->
    <label class="block mb-1 text-black text-sm font-medium font-['Poppins']">Jenis Perawatan</label>
    <select name="kode_perawatan" class="w-full bg-zinc-300 rounded-lg px-3 py-2 mb-4 text-black font-['Poppins']" required>
      {% for p in perawatan_list %}
        <option value="{{ p.kode_perawatan }}" {% if p.kode_perawatan == treatment.kode_perawatan %}selected{% endif %}>
          {{ p.kode_perawatan }} - {{ p.nama_perawatan }}
        </option>
      {% endfor %}
    </select>

    <!-- Catatan Medis -->
    <label class="block mb-1 text-black text-sm font-medium font-['Poppins']">Catatan Medis</label>
    <input name="catatan" type="text" value="{{ kunjungan.catatan }}" class="w-full bg-zinc-300 rounded-lg px-3 py-2 mb-6 text-black font-['Poppins']" required />

    <!-- Tombol -->
    <div class="flex justify-end gap-3">
      <a href="{% url 'hijau:table_treatment' %}" class="bg-blue-100 text-slate-600 px-4 py-2 rounded-xl text-sm font-medium border border-slate-400">Cancel</a>
      <button type="submit" class="bg-blue-400 text-white px-4 py-2 rounded-xl text-sm font-medium">Update</button>
    </div>

    {% if error %}
      <p class="text-red-500 text-sm mt-4 text-center">{{ error }}</p>
    {% endif %}
  </form>

</body>
</html>
